<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

<script type="text/javascript"><!--
var cookies = [];
var cookiesRaw = document.cookie.split("; ");
for (var i=0;i<cookiesRaw.length;i++) {
	var cookie = cookiesRaw[i].split("=");
	cookies[cookie[0]] = cookie[1];
}
function setCookie(name, value) {
	document.cookie = name+"="+value+"; path=/";
	cookies[name] = value;
}

var pixastic_parseonload = true;
</script>
<script type="text/javascript" src="lib/download/pixastic.js"></script>
