// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
canvas { @include shadow-box; }


.docactionlist {
	width: 25%;
	display: inline-block;
	margin-bottom: 3px;
}
